body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

a{
    text-decoration: none;
}


.text-header{
    text-align: center;
}

.text-header h1{
    color: rgb(96, 96, 209);
    font-size: 40px;
    font-weight: 30;
    margin-top: 20px;
}

.text-parag{
    text-align: center;
    margin-top: 30px;
}

.text-parag p{
    font-size: 22px;
    color: rgb(96, 96, 209);
}

.video-section{
    display: flex;
    justify-content: center;
}

.video-section video{
    width: 380px;
    border-radius: 10px;
    margin-top: -50px;
    height: 390px;
}

.join-text{
    text-align: center;
    margin-top: 40px;
}

.join-text p{
    color: rgb(96, 96, 209);
    font-size: 22px;
}

.user-cards{
    display: flex;
    justify-content: center;
}

.user-cards .card{
    width: 400px;
    height: 500px;
    background-color: lightblue;
    margin: 20px;
    border-radius: 14px;
    position: relative;
}

.card-icon{
    display: flex;
    justify-content: center;
}

.card-icon > ion-icon{
    font-size: 40px;
    color: rgb(96, 96, 209);
}

.card-content{
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-brief{
    margin-top: 30px;
}

.card-brief p{
    white-space: nowrap;
    text-align: center;
    color: rgb(96, 96, 209);
}

.card-category{
    text-align: center;
    margin-top: 30px;
}

.card-category p{
    font-size: 26px;
    color: rgb(96, 96, 209);
}


.card-btn{
    text-align: center;
    margin-top: 50px;
}

.card-btn button{
    width: 120px;
    height: 40px;
    background-color: #fff;
    color: rgb(96, 96, 209);
    border-radius: 5px;
    border: #fff;
    cursor: pointer;
}
.card-btn a{
    width: 120px;
    height: 80px;
    background-color: #fff;
    color: rgb(96, 96, 209);
    border-radius: 5px;
    border: #fff;
    cursor: pointer;
    padding: 15px;
}




.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons > ion-icon{
    font-size: 35px;
    background-color: #fff;
    margin: 15px;
    border-radius: 5px;
    color: rgb(96, 96, 209);
}

.logo{
    display: flex;
    justify-content: center;
}




/* Responsive section */

@media screen and (max-width: 420px) and (min-width: 360px){
      .text-header h1{
          font-size: 20px;
          font-weight: 400;
          white-space: nowrap;
          color: rgb(96, 96, 209);
      }

      .text-parag p{
          font-size: 16px;
          text-align: center;
      }

      .card-icon > ion-icon{
        font-size: 20px;
        color: rgb(96, 96, 209);
    }

    .card-category p{
        font-size: 13px;
        color: rgb(96, 96, 209);
    }

    .card-brief p{
        white-space: nowrap;
        font-size: 8px;
    }

    .user-cards .card{
        width: 350px !important;
        height: 300px;
    }

    .card-btn a{
        padding: 5px 3px;
        white-space: nowrap;
        font-size: 8px;

    }
}
